* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Fira+Sans&family=Hubballi&family=Inconsolata&family=Lora:ital@1&family=Montserrat:ital,wght@1,900&family=Noto+Sans:wght@600&family=Open+Sans:ital,wght@1,300;1,400&family=Roboto:wght@300&family=Rock+Salt&family=Sansita+Swashed:wght@300&display=swap');

.compo_heading {
    margin: 30px 0 50px 125px;
    letter-spacing: 5px;
    font-family: 'Noto Sans', sans-serif;
}

.imgAndText {
    margin: 0 5px 5px 120px;
    display: flex;
   
}
.imgAndText  .details {
    font-style: unset;
   /* background-color: #a5c6dd;*/
    cursor: pointer;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
}/*F6FAFD*/


.details {
    margin-left: 10px ;
    padding: 0 20px 20px 20px;
}

img {
    transition: all 1s;
    border-radius: 3px;
}
img:hover {
    transform: scale(1.02);
    cursor: pointer;
}


@media only screen and (max-width: 993px) {
    .imgAndText {
        display: flex;
        flex-direction: column;
    }
    .imgAndText img {
        padding-left: 20px;
        padding-right: 20px;
    }
    .imgAndText .details {
        width: 100%;
    }
}

@media only screen and (max-width: 712px) {
    .imgAndText {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .imgAndText .details {
        margin-top: -20px;
    }
}



